*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:LOGALLOW - [0:0]
:LOGDROP - [0:0]
:TCP-IN - [0:0]
:TCP-OUT - [0:0]
:UDP-IN - [0:0]
:UDP-OUT - [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
-A INPUT -p udp -m conntrack --ctstate NEW -j UDP-IN
-A INPUT -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK SYN -m conntrack --ctstate NEW -j TCP-IN
-A INPUT -j LOGDROP
-A OUTPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT -o lo -j ACCEPT
#-A OUTPUT -m conntrack --ctstate INVALID -j DROP
-A OUTPUT -p udp -m conntrack --ctstate NEW -j UDP-OUT
-A OUTPUT -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK SYN -m conntrack --ctstate NEW -j TCP-OUT
-A OUTPUT -j LOGDROP
-A LOGALLOW -m limit --limit 5/sec -j LOG --log-prefix "IPTables-Allowed: " --log-level info
-A LOGALLOW -j ACCEPT
-A LOGDROP -m limit --limit 5/sec -j LOG --log-prefix "IPTables-Dropped: " --log-level info
-A LOGDROP -j DROP
-A TCP-IN -p tcp -m tcp --dport {{ hostvars[inventory_hostname]['ansible_port'] | default('22') }} -j LOGALLOW
-A TCP-IN -j RETURN
-A TCP-OUT -p tcp -m tcp --sport {{ hostvars[inventory_hostname]['ansible_port'] | default('22') }} -j LOGALLOW
-A TCP-OUT -j RETURN
-A UDP-IN -m pkttype --pkt-type broadcast -j DROP
-A UDP-IN -j RETURN
-A UDP-OUT -p udp -m udp --dport 53 -j LOGALLOW
-A UDP-OUT -j RETURN
COMMIT
